services:
  web:
    build: .
    ports:
      - "8080:9000"
    platform: "linux/amd64"

  grafana:
    image: grafana/grafana:12.0.2
    ports:
      - 3000:3000
    volumes:
      - "./grafana/provisioning:/etc/grafana/provisioning"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_USERS_ALLOW_SIGN_UP=false
  prometheus:
    container_name: prometheus
    image: prom/prometheus:v2.53.5
    volumes: 
      - "./prometheus.yml:/etc/prometheus/prometheus.yml"
    ports:
      - 9090:9090
  minio:
    image: minio/minio:RELEASE.2025-06-13T11-33-47Z
    ports:
      - "9002:9000"
      - "9003:9001"
      - "443:443"
    entrypoint:
      - minio
      - server
      - /data
      - --console-address
      - ":9001"
  mongo:
        image: "mongo:8.0.11"
        container_name: mongo
        ports:
          - "27017:27017"      
# Conteneur contenant des exemples de monitoring.
  cadvisor:
    container_name: cadvisor
    image: gcr.io/cadvisor/cadvisor:latest
    ports:
      - "9004:8080"
    volumes: 
      - "/:/rootfs"
      - "/var/run:/var/run"
      - "/sys:/sys"
      - "/var/lib/docker/:/var/lib/docker"
      - "/dev/disk/:/dev/disk"
    privileged: true
    devices: 
      - "/dev/kmsg"
